/**
 *
 * Object: Horizontal List
 * -----------------------------------------------
 *
 *
 */

.o-horizontal-list {
  list-style: none;
  padding: 0;
}

.o-horizontal-list > li {
  display: inline-block;
  margin-left: 2rem;
}

.o-horizontal-list > li:first-of-type {
  margin-left: 0;
}