/**
 *
 * Wrappers
 *
 * Page level wrapping elements
 *
 */

.o-wrapper {
  @include clearfix();
  padding-right: $global-spacing-unit;
  padding-left:  $global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
}
