/**
 *
 * Component: Buttons
 * -----------------------------------------------
 *
 *
 */

.btn {
  color: $blue;
  display: inline-block;
  box-shadow: 0 0 0 2px #e4eaec;
  font-family: $sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 10px 16px;
}

.btn:hover {
  box-shadow: 0 0 0 6px #e4eaec;
}

@media screen and (max-width: $small){
  .btn {
    display: block;
    width: 60%;
    padding: 14px 16px;
    font-size: 1.25rem;
  }
}