/**
 *
 * Component: Buttons
 * -----------------------------------------------
 *
 *
 */

.btn {
  color: $blue;
  display: inline-block;
  box-shadow: 0 0 0 2px #e4eaec;
  font-family: $sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 16px;
  transition: box-shadow 0.25s;
}

.btn:hover {
  box-shadow: 0 0 0 6px #e4eaec;
  color: $blue;
}

.btn + .btn {
  margin-left: 20px;
}

@media screen and (max-width: $small) {
  .btn {
    display: block;
    width: 60%;
    padding: 14px 16px;
    font-size: 1.25rem;
    margin: auto auto 20px auto;
    text-align: center;
  }

  .btn + .btn {
    margin: 20px auto;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    width: auto;
    margin: auto 32px;
  }
  .btn + .btn {
    margin: 20px 32px 0;
  }
}
