/**
 *
 * Component: Chapter
 * -----------------------------------------------------------
 * Sections of the home page such as About or Case Studies
 *
 *
 */

@supports (display: grid) {
  .chapter {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: [aa] minmax(1em, 1fr) [bb] 3fr [cc] 7fr [dd] minmax(1em, 1fr) [ee];
    grid-template-rows: auto 1px auto;
  }
    .chapter:after {
      content: '';
      background-color: #ccc;
      grid-row: 2;
      grid-column: aa / dd;
    }

  .chapter__heading {
    grid-column: cc;
    grid-row: 1;
  }

  .chapter__contents,
  .chapter__intro {
    grid-column: cc;
    grid-row: 3;
  }

  @media screen and (min-width: $max-width) {
    .chapter {
      grid-template-columns: [aa] 1fr [bb] 4fr [cc] 6fr [dd] 1fr [ee];
    }
  }

}