/**
 *
 * Component: Headings
 * -----------------------------------------------
 *
 *
 *
 */

.site-heading {
  color: $font-color;
  font-size: $font-xxl;
  font-weight: 400;
}

.site-subheading {
  @include font-smoothing;
  color: $dark-gray-3;
  font-size: $font-lg;
  font-style: italic;
  margin-bottom: 2rem;
}

.sub-section-heading {
  color: $dark-gray-1;
  font-size: $font-xl;
  font-weight: 400;
  margin-bottom: 1rem;
}
