/**
 *
 * Component: Headings
 * -----------------------------------------------
 *
 *
 *
 */

.site-heading {
  color: $font-color;
  font-size: $font-lg; //$font-xxl;
  font-weight: 400;
  position: relative;
}

.site-subheading {
  @include font-smoothing;
  color: $dark-gray-3;
  font-size: $font-md;
  font-style: italic;
  margin-bottom: 2rem;
  position: relative;
}

@media screen and (min-width: $small) {
  .site-subheading {
    font-size: $font-md;
  }
}

@media screen and (min-width: $medium) {
  .site-heading {
    font-size: $font-xxl;
  }

  .site-subheading {
    font-size: $font-lg;
  }
}

