





/**
 *
 * NOT USED
 *
 *
 *
 *
 *
 */










@supports (display: grid) {
  .workgrid {
    padding: 0;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ".     .     .     .     title title title title title title title title"
      ".     .     .     .     overview overview overview overview overview overview  .     ."
      ".     .     .     .     cs cs cs cs cs cs cs cs";
    grid-template-rows: repeat(100, 1px);
    // @include grid-12("left logo logo logo content content content content content content right right");
  }

  .work__heading {
    grid-column: title;
    grid-row: 1 / -1;
    font-size: $font-xl;
    font-weight: 400;
  }
    .work__heading::after {
      display: block;
      content: '';
      border-bottom: 1px solid #ccc;
      margin-left: calc(-50% - 1rem);
    }

  .work__overview {
    grid-row: 1 / -1;
    grid-column: overview;
  }

  .work__case-study {
    grid-column: cs;
    grid-row: 1 / -1;
    margin-top: 20rem;
  }

  .case-study__heading {
    color: #444;
    position: relative;
  }

  @supports ((-webkit-text-stroke-color: #666) and (-webkit-text-fill-color: white))
    or ((-moz-text-stroke-color: #666)and (-moz-text-fill-color: white)) {

    .case-study__heading:after {
      display: block;
      position: absolute;
      opacity: 0.5;
      top: -13rem;
      left: -1.5rem;
      font-size: 15rem;
         -moz-text-fill-color: white;
      -webkit-text-fill-color: white;
         -moz-text-stroke-color: $red;
      -webkit-text-stroke-color: $red;
         -moz-text-stroke-width: 1px;
      -webkit-text-stroke-width: 1px;
    }

    .case-study__heading--one:before {
      content: '1';
    }

  }

  .work-example {
    background-color: #fff;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(7, 1fr);
    padding: 2rem 0 4rem;
    margin-bottom: -2rem;
    grid-template-areas:
      "emptyLeft source source source source source source"
      "emptyLeft title title title title title title"
      "emptyLeft image image desc desc desc desc"
      "emptyLeft image image bullets bullets bullets bullets";
  }

  .work-example__source {
    grid-area: source;
    font-size: .825rem;
    color: #999;
    letter-spacing: .75px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .work-example__title {
    grid-area: title;
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  .work-example__desc {
    grid-area: desc;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .work-example__desc:first-of-type {
    margin-top: 0;
  }

  .work-example__image {
    grid-area: image;
  }

  .work-example__bullets {
    grid-area: bullets;
    list-style-image: url('../images/checkbox-light.svg');
    margin-top: 0;
    padding-left: 1.75rem;
  }

  .work-example__bullet {
    padding: .375rem 0 .375rem .625rem;
    font-size: 18px;
  }

}