/**
 *
 * Component: Home Page Skills
 * -----------------------------------------------
 *
 * A special component for the Skill section.
 *
 *
 */

/**
 *
 * Component: Chapter
 * -----------------------------------------------------------
 * Sections of the home page such as About or Case Studies
 *
 *
 */

.hp-skills {
  @include font-smoothing;
  margin: auto 1rem 1rem 1rem;
  position: relative;
}

.hp-skills__skill {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.hp-skills__title {
  color: $dark-gray-3;
  font-family: $serif, serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
}

.hp-skills__desc {
  @include body-copy;
  margin-top: 0;
}

@media screen and (min-width: $small) {
  .hp-skills {
    width: 80%;
    margin: 2rem auto;
    max-width: 50em;
  }
  .hp-skills__title {
    color: $dark-gray-3;
    font-size: $font-md;
  }

  @supports (display: grid) {
    .hp-skills {
      max-width: unset;
      width: unset;
      @include standard-grid();
      grid-gap: 2rem;
    }

    .hp-skills__skill {
      grid-column: 2/12;
    }
  }
}

@media screen and (min-width: $medium) {
  .hp-skills {
    width: calc(65% - 2em);
    margin-left: 30%;
  }

  @supports (display: grid) {
    .hp-skills {
      margin-left: unset;
      width: unset;
      @include standard-grid();
    }

    .hp-skills__skill {
      grid-column: 4/12;
    }
  }
}

@media screen and (min-width: $large) {
  @supports (display: grid) {
    .hp-skills__skill {
      grid-column: 5/12;
    }
  }
}

@media screen and (min-width: $xlarge) {
  @supports (display: grid) {
    .hp-skills__skill {
      grid-column: 5/11;
      margin: 2rem 0;
    }
  }
}

@media screen and (min-width: $max-width) {
  @supports (display: grid) {
    .hp-skills {
      margin: auto;
      width: 100%;
      max-width: $wrapper-width-lg;
    }
    .hp-skills__skill {
      grid-column: 6/12;
    }
  }
}
