/*
 *
 * Component: Title Bar
 * -----------------------------------------------------------
 * Section headings, such as "Skills" or "Case Studies"
 *
 *
 */

.section-title {
  margin: auto 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.section-title__heading {
  color: $red;
  font-size: $font-lg;
  font-weight: 400;
}

.section-title__heading--about {
  color: $light-gray-2;
  font-size: $font-lg;
}

.section-title__desc {
  max-width: $p-max;
}

@media screen and (min-width: $small){

  .section-title {
    max-width: 50em;
    width: 80%;
    margin: auto auto 2rem auto;
    padding-bottom: unset;
    border-bottom: unset;
  }
    .section-title:after {
      content: '';
      display: block;
      width: 100%;
      background-color: #ccc;
      height: 1px;
    }

  .section-title__heading {
    font-size: $font-lg;
  }

  @supports (display: grid) {
    .section-title {
      width: unset;
      margin: unset;
      @include standard-grid();
      grid-template-rows: auto 1px auto;
      margin-bottom: 1em;
    }
      .section-title:after {
        grid-row: 2;
        grid-column: 5 / 13;
        content: '';
        background-color: #ccc;
      }

      .section-title--skills:after {
        grid-column: 3 / 11;
      }

    .section-title__heading {
      grid-column: 5/12;
      grid-row: 1;
    }

    .section-title__heading--skills {
      grid-column: 3/8;
      grid-row: 1;
    }

    .section-title__desc {
      grid-column: 1/8;
      grid-row: 3;
      max-width: 50rem;
    }

  }
}

@media screen and (min-width: $medium){

  .section-title {
    width: calc(65% - 2rem);
    margin-left: 30%;
  }

  .section-title__heading {
    font-size: $font-xl;
  }

  @supports (display: grid) {
    .section-title {
      width: unset;
      margin: 0 2rem 1rem 2rem;
    }

    .section-title__heading,
    .section-title__desc {
      grid-column: 4/12;
    }

    .section-title:after {
      grid-column: 4 / 13;
    }
  }
}

@media screen and (min-width: $large){
  @supports (display: grid) {
    .section-title__heading,
    .section-title__desc {
      grid-column: 5/12;
    }

    .section-title:after {
      grid-column: 5 / 13;
    }
  }
}

@media screen and (min-width: $xlarge){
  @supports (display: grid) {
    .section-title__heading,
    .section-title__desc {
      grid-column: 5/11;
    }

    .section-title:after {
      grid-column: 5 / 12;
    }
  }
}

@media screen and (min-width: $max-width){
  @supports (display: grid) {

    .section-title {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .section-title:after {
      grid-column: 6 / 12;
    }

    .section-title--work {
      margin-bottom: 6rem;
    }

    .section-title__heading {
      grid-column: 6/12;
    }

    // .section-title__heading--skills {
    //   grid-column: 5/12;
    // }

    // .section-title__heading--work-experience,
    // .section-title__desc--work-experience {
    //   grid-column: 1/6;
    // }
  }
}