/**
 *
 * Component: Home Page About
 * -----------------------------------------------
 *
 * A special component for the About Me section.
 *
 * Note that this section is contained in a panel and
 * using the panel--about class.
 *
 */

.hp-about__menu-link {
  font-family: $sans-serif;
  font-size: 1.125rem;
}

.hp-about__desc {
  font-size: 20px;
}

.hp-about__contents {
  margin: 2rem 1rem;
  max-width: 50rem;
}

@media screen and (min-width: $small){

  .hp-about {
    margin: auto;
    display: flex;
  }

  .hp-about__image {
    flex: 1 0 35%;
    width: unset;
    border-radius: unset;
    overflow: unset;
    margin: unset;
    max-width: unset;
  }

  .hp-about__contents {
    flex: 1 0 calc(65% - 2rem);
  }

  @supports (display: grid){
    .hp-about {
      @include standard-grid();
      align-items: center;
    }

    .hp-about__image {
      grid-column: 1/5;
      align-self: end;
    }

    .hp-about__contents {
      grid-column: 5/13;
      margin: unset;
    }
  }
}

@media screen and (min-width: $medium){
  @supports (display: grid){
    .hp-about__image {
      grid-column: 1/6;
    }
    .hp-about__contents {
      grid-column: 6/13;
    }
  }
}

@media screen and (min-width: $large){
  @supports (display: grid){
    .hp-about__contents {
      grid-column: 6/12;
    }
  }
}

@media screen and (min-width: $max-width){
  .hp-about {
    margin-left: auto;
    margin-right: auto;
  }
  @supports (display: grid){
    .hp-about__image {
      grid-column: 2/6;
    }
    .hp-about__contents {
      grid-column: 6/12;
    }
  }
}
