/**
 *
 * Component: Home Page Skills
 * -----------------------------------------------
 *
 * A special component for the Skill section.
 *
 *
 */

 /**
 *
 * Component: Chapter
 * -----------------------------------------------------------
 * Sections of the home page such as About or Case Studies
 *
 *
 */

.hp-skills {
  @include font-smoothing;
  margin: auto 1rem 1rem 1rem;
}

.hp-skills__skill {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  max-width: 40rem;
}

.hp-skills__title {
  font-family: $sans-serif, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
}

.hp-skills__desc {
  font-family: $sans-serif, sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
}

@media screen and (min-width: $small){
  .hp-skills {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto auto 2rem auto;
    max-width: 50em;
  }
  .hp-skills__skill {
    flex: 1 0 calc(50% - 1em);
  }
  .hp-skills__skill:nth-of-type(even){
    //margin-left: 1em;
  }
  .hp-skills__skill:nth-of-type(odd){
    //margin-right: 1em;
  }
  @supports (display: grid) {
    .hp-skills {
      max-width: unset;
      width: unset;
      @include standard-grid();
      grid-gap: 2rem;
    }

    .hp-skills__skill {
      grid-column: 2/10;
    }
  }

}

  @media screen and (min-width: $medium){
    .hp-skills {
      width: calc(65% - 2em);
      margin-left: 30%;
    }

    @supports (display: grid) {
      .hp-skills {
        margin-left: unset;
        width: unset;
        @include standard-grid();
      }

      .hp-skills__skill {
        grid-column: 4/11;
      }

    }

  }

  @media screen and (min-width: $large){

    .hp-skills {
      margin: unset;
      @include standard-grid();
    }


    .hp-skills__desc {
      line-height: 1.5;
      font-size: 1rem;
    }

    .hp-skills__skill {
      grid-column: 2/5;
    }

    .hp-skills__skill:nth-of-type(2n) {
      grid-column: 5/8;
    }

    .hp-skills__skill:nth-of-type(3n) {
      grid-column: 8/11;
    }
    // .hp-skills__skill:nth-of-type(even) {
    //   grid-column: 8/12;
    // }

  }

  @media screen and (min-width: $xlarge){

    // .hp-skills__skill {
    //   grid-column: 5/8;
    // }

    // .hp-skills__skill:nth-of-type(even) {
    //   grid-column: 8/11;
    // }

  }
