  /**
 *
 * Component: Panels
 * -----------------------------------------------
 * Sections on the homepage for displaying content such as "About", "Skills"
 * or "Intro"
 *
 */

.panel {
  display: grid;
  align-content: center;
  margin-bottom: 2rem;
}

// .panel--about {
//   padding: 0 calc((100vw - 100em) / 2) 2rem calc((100vw - 100em) / 2);
//   margin-bottom: 0;
// }

.panel--about {
  background-color: black;
  min-height: unset;
  padding: 0 calc( (100% - 1640px) / 2 ) 4rem;
  margin-bottom: 0;
}

@supports (display: grid) {
  .panel--intro {
    align-content: flex-end;
    padding: 0;
  }
}

@media screen and (min-width: $small) {

  .panel {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: unset;
  }

  .panel--intro {
    min-height: 65vh;
  }

  .panel--about {
    padding: 2rem 0;
  }
}

@media screen and (min-height: 42.5em) and (min-width: $medium) {

  .panel--work {
    padding-top: 8rem;
  }

  .panel--about {
    padding-top: 3rem;
    padding-bottom: 0;
  }

}
