/**
 *
 * Component: Home Page Case Study
 * -----------------------------------------------
 * Home page case study sub-sections
 *
 *
 */

  .hp-case-study {
    @include font-smoothing;
    margin: 4rem 0;
  }

  .hp-case-study__heading {
    font-size: 2.5rem;//40px;
  }


  .hp-case-study--ce .hp-case-study__number {
    margin-left: -1rem;
  }

  .hp-case-study__image {
    margin: 2rem auto;
    width: 75%;
  }

  .hp-case-study__image .caption {
    display: none;
  }

  .hp-case-study__number {
    display: none;
  }

@supports (display: grid) {
  .hp-case-study {
    margin: 4rem 1em;
  }
}

@media screen and (min-width: $small) {

  .hp-case-study {
    width: 80%;
    margin: 2rem auto;
  }

  @supports (display: grid) {
    .hp-case-study {
      width: unset;
      @include standard-grid();
      grid-template-rows: auto auto;
    }

    .hp-case-study__image {
      margin: unset;
      grid-row: 2;
      grid-column: 1/5;
    }

    .hp-case-study__copy {
      width: unset;
      grid-column: 4/12;
      grid-row: 2;
      position: relative;
    }
  }
}

@media screen and (min-width: $medium) {

  .hp-case-study {
    width: unset;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .hp-case-study__image {
    flex: 1 1 auto;
    width: calc(30% - 4rem);
    margin: 0 1rem 0 2rem;
  }

  .hp-case-study__copy {
    width: calc(70% - 2rem);
    flex: 1 1 auto;
    margin: 0 2rem 0 1rem;
  }

  .hp-case-study__desc {
    max-width: $p-max;
  }

  .hp-case-study__image .caption {
    display: block;
  }

  .hp-case-study__heading {
    font-size: 3.125rem; //50px
  }

  .hp-case-study__number {
    display: block;;
    font-size: 12rem;
    color: #eee;
    margin-bottom: 0;
    flex: 1 0 100%;
    padding-left: 30%;
  }

  @supports (display: grid) {

    .hp-case-study {
      @include standard-grid();
    }
    /*
     * Case study grid, default
     */
    .hp-case-study__copy {
      width: unset;
      margin: unset;
      grid-column: 4/12;
      grid-row: 2;
      position: relative;
    }

    .hp-case-study__image {
      grid-column: 1/4;
      grid-row: 2;
      margin: 0;
      width: 100%;
    }

    .hp-case-study__number {
      width: unset;
      transform:  unset;
      padding-left: unset;
      grid-row: 1;
      grid-column: 5/12;
      margin-bottom:-2rem;
    }

    /*
     * Case study grid, even
     */
    .hp-case-study:nth-of-type(odd) {

      .hp-case-study__copy {
        grid-column: 1/9
      }

      .hp-case-study__image {
        grid-column: 9/12;
      }

      .hp-case-study__number {
        grid-column: 2/12;
      }
    }
  }
}

@media screen and (min-width: $large) {
  .hp-case-study__number {
    font-size: 15rem;
  }

  .hp-case-study__heading {
    font-size: 3.75rem;
  }

  /*
   * Case study grid, default
   */
  .hp-case-study__image {
    grid-column: 1/5;
  }

  .hp-case-study__copy {
    grid-column: 5/13;
  }

  .hp-case-study__number {
    grid-column: 5/13;
  }

   /*
   * Case study grid, odd
   */
  .hp-case-study:nth-of-type(odd) {

    .hp-case-study__number {
      grid-column: 2/12;
    }

    .hp-case-study__copy {
      grid-column: 2/9
    }

    .hp-case-study__image {
      grid-column: 9/13;
    }

  }
}

@media screen and (min-width: $max-width) {
  /*
   * Case study grid, default
   */
  .hp-case-study__copy {
    grid-column: 6/13;
    grid-row: a;
    position: relative;
  }

  .hp-case-study__number {
    grid-column: 6/13;
  }

  .hp-case-study__image {
    grid-column: 1/5;
    grid-row: b;
    margin: 0;
  }

  /*
   * Case study grid, odd
   */
  .hp-case-study:nth-of-type(odd) {

    .hp-case-study__copy {
      grid-column: 1/8
    }

    .hp-case-study__number {
      grid-column: 1/13;
    }

    .hp-case-study__image {
      grid-column: 8/13;
    }
  }

  /*
   * Content Editor
   */
  .hp-case-study--ce .hp-case-study__image {
    margin-right: -4rem;
  }

}


@supports ((-webkit-text-stroke-color: #666) and (-webkit-text-fill-color: white))
  or ((-moz-text-stroke-color: #666)and (-moz-text-fill-color: white)) {

  .hp-case-study__number {
    color: transparent;
    opacity: 0.5;
       -moz-text-fill-color: white;
    -webkit-text-fill-color: white;
       -moz-text-stroke-color: $red;
    -webkit-text-stroke-color: $red;
       -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
  }

}
