/**
 *
 * Component: Homepage Intro Section
 * -----------------------------------------------
 *
 *
 */

.intro {
  margin: auto;
}

.intro__body {
  font-size: 1.125rem;
}

.introgrid {
  display: block;
  margin: auto 1em;
}

.primary-logo {
  margin-bottom: 2rem;
  width: 35%;
}

@media screen and (min-width: $small){

  .introgrid {
    margin: auto 2em auto 10%;
  }

  .primary-logo {
    margin-bottom: 3rem;
  }

}

@media screen and (min-width: $medium){

  .introgrid {
    margin: auto 1em;
    align-content: center;
    display: flex;
  }

  .primary-logo {
    position: static;
    width: unset;
    flex: 1 1 30%;
    margin-right: 2rem;
  }

  .intro__content {
    flex: 1 1 70%;
  }

  .intro__body {
    max-width: unset;
  }

}

@supports (display: grid) {
  @media screen and (min-width: $large){

    .introgrid {
      margin: 0;
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: [aa] 1em [bb] 2fr [cc] 4fr [dd] 0.25fr [ee];
      grid-template-rows: auto;
    }

    .primary-logo {
      grid-column: bb;
      grid-row: 1;
      margin-right: 0;
    }

    .intro__content {
      grid-area: cc;
      grid-row: 1;
    }
  }

  @media screen and (min-width: $xlarge){

      .introgrid {
        margin: 0;
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: [aa] .5fr [bb] 2fr [cc] 4fr [dd] 0.5fr [ee];
        grid-template-rows: auto;
      }
      .primary-logo {
        grid-column: bb;
        grid-row: 1;
        margin-right: 0;
      }

      .intro__content {
        grid-area: cc;
        grid-row: 1;
      }
  }

  @media screen and (min-width: $max-width) {

      .introgrid {
        grid-template-columns: [aa] 2fr [bb] 3fr [cc] 6fr [dd] 1fr [ee];
      }

  }
}