.intro {
  max-width: 800px;
  margin: auto;
}

.intro__heading {
  line-height: 1.2;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 1rem;
}

.intro__body {
  font-size: 1.25rem;
}

.intro__button {
  display: inline-block;
  padding: .75em 1.25em;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
