/**
 *
 * Component: Primary Navigation
 * -----------------------------------------------
 * Navigation for site and page
 *
 *
 */

.navbar__menu {
  @include font-smoothing;
  align-content: center;
  display: flex;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  padding: 0;
  text-shadow: -1px 1px 0px white;
}

.navbar__menu-item {
  border-radius: $border-radius;
  transition: all .25s;
}

.navbar__menu-item:hover {
  background-color: rgba(255,255,255,0.5);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.15);
}

.navbar__menu-link {
  color: #928e58;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

@supports (display: grid) {
  .navgrid {
    grid-column-gap: 2rem;
    @include grid-12("empty empty empty empty empty nav nav nav nav nav nav nav");
  }

  .navbar {
    grid-area: nav;
  }

}
