/**
 *
 * Component: Node Gallery
 * -----------------------------------------------
 *
 * Display images in various grids on node pages.
 *
 */

.node-gallery {
  @include standard-grid(10, 1fr, 2rem, 0, false);
}

.node-gallery__2up {
  grid-column: 1/6;
}

.node-gallery__2up:nth-of-type(2n){
  grid-column: 6/11;
}

.node-gallery--body {
  @include standard-grid(6, 1fr, 2rem, 0, false);
}

.node-gallery--body__2up {
  grid-column: 1/4;
}

.node-gallery--body__2up:nth-of-type(2n){
  grid-column: 4/7;
}

