/**
 *
 * Component: Node Side
 * -----------------------------------------------
 * Sidebar on node pages
 *
 *
 */

.node__side {
  margin-bottom: 1px;
  background: #eee;
  padding: 1em;
}

.node__side--last,
.node__side--only {
  margin-bottom: 2em;
}

.node__side-title {
  @include heading-three;
}

.node__side-list {
  @include plain-list;
  display: flex;
  flex-wrap: wrap;
   & > li {
    margin: 0 1em 0 0;
   }
   & > li:after {
    content: ',';
   }
   & > li:last-of-type:after {
    content: '';
   }
}

@media screen and (min-width: $small){
  .node__side {
    background: unset;
    padding: unset;
    margin-bottom: 2em;
  }
  .node__side-title {
    margin-bottom: .875em;
  }
  .node__side-list {
    flex-direction: column;
  }
  .node__side-list {
   & > li {
    margin: 0 1em .875em 0;
   }
   & > li:after {
    content: '';
   }
  }
}