/**
 *
 * Component: Node Heading
 * -----------------------------------------------
 * Main heading text section on a project page
 *
 *
 */

.node__title {
  @include font-smoothing;
  color: $red;
  font-size: $font-lg;
  font-weight: 400;
  margin-bottom: $space;
}

@media screen and (min-width: $large) {
  .node__title {
    font-size: $font-xl;
  }
}