/**
 *
 * Component: Node Navigation
 * -----------------------------------------------
 * Navigation for internal pages
 *
 *
 */

.node-navigation {
  @include font-smoothing;
  display: flex;
  align-items: center;
  color: $dark-gray-3;
  margin: 1em 1em 2em 1em;
}

.node-navigation__logo {
  flex: 0 0 4rem;
  margin-right: 1.25rem;
}
.node-navigation__name {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  flex: auto;
  line-height: 1.4;
}

.node-navigation__title {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  display: block;
}

@media screen and (min-width: $small){
  .node-navigation {
    margin: 1em 2em 4em 2em;
    align-items: baseline;
  }
  .node-navigation__name {
    font-size: 1.125em;
  }
  .node-navigation__title {
    display: inline;
  }
}