  /**
 *
 * Component: Panels
 * -----------------------------------------------
 * Sections on the homepage for displaying content such as "About", "Skills"
 * or "Intro"
 *
 */

.panel {
  min-height: 100vh;
  display: grid;
  align-content: center;
  padding: 4rem calc((100vw - 100em) / 2) 2rem calc((100vw - 100em) / 2);
}

// .panel:nth-of-type(even){
//   background-color: #f7f5ed;
// }

.panel--case-studies {
  overflow: hidden;
}

@supports (display: grid) {
  .panel--intro {
    padding: 0;
  }
}

@media screen and (min-width: $small) {

  .panel {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .panel--about {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

@media screen and (min-height: 42.5em) and (min-width: $medium) {

  .panel--case-studies {
    padding-top: 30vh;
  }

  .panel--work {
    padding-top: 8rem;
  }

}

/**
 * About Panel
 */

.panel--about {
  background-color: black;
  min-height: unset;
  padding: 0 calc( (100% - 1640px) / 2 );
}
