/**
 *
 * Component: Title Bar
 * -----------------------------------------------------------
 * Section headings, such as "Skills" or "Case Studies"
 *
 *
 */

.section-title {
  margin: auto 1rem;
  position: relative;
}
  .section-title:after {
    content: '';
    background-color: #ccc;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 4rem;
  }

.section-title__heading {
  color: $red;
  font-size: $font-xl;
  font-weight: 400;
}

.section-title__desc {
  max-width: $p-max;
}

@supports (display: grid) {
  @media screen and (min-width: $small){
    .section-title {
      margin: auto 2rem auto 10%;
    }

    .section-title__heading {
      grid-column: cc;
      grid-row: 1;
    }

    .section-title__desc {
      grid-column: cc;
      grid-row: 3;
      margin: unset;
      max-width: unset;
    }

  }

  @media screen and (min-width: $medium){

    .section-title {
      margin: auto;
    }

    .section-title__heading,
    .section-title__desc {
      margin-left: calc(33.3333% + 4rem);
      max-width: unset;
    }

  }

  @media screen and (min-width: $large){

    .section-title {
      margin: unset;
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: [aa] 1em [bb] 2fr [cc] 4fr [dd] 0.25fr [ee];
      grid-template-rows: auto 1px auto;
    }

      .section-title:after {
        grid-row: 2;
        grid-column: aa / ee;
        position: unset;
        top: unset;
        width: unset;
        height: unset;
      }

    .section-title__heading,
    .section-title__desc {
      margin-left: unset;
    }

  }

  @media screen and (min-width: $xlarge){

    .section-title {
      grid-template-columns: [aa] .5fr [bb] 2fr [cc] 4fr [dd] 0.5fr [ee];
    }

  }

  @media screen and (min-width: $max-width) {

    .section-title  {
      grid-template-columns: [aa] 1fr [bb] 4fr [cc] 6fr [dd] 1fr [ee];
    }

  }
}