/**
 *
 * Component: Video
 * ---------------------------------------------------------------
 * Use to wrap video element if you need to use a caption
 *
 */

.video {
  width: fit-content;
  margin: 0 auto $space auto;
}

.video__media {
  margin-bottom: $space;
}

.video > .video__media {
  margin-bottom: 1em;
}

.video__caption {
  @include caption();
}
