/**
 *
 * Color variables
 *
 */

$dark-gray-1: #333;
$dark-gray-2: #555;
$dark-gray-3: #888;

$light-gray-1: #eee;
$light-gray-2: #ccc;
$light-gray-3: #999;
$font-color: $dark-gray-2;
$blue: #0091c1;
$button-blue: #03a0d3;
$gold: #e4ae00;
$red: #c50404;