/**
 *
 * Font variables
 *
 */

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Georgia', serif;

/* Fallback font stacks */
$fb-display-font-stack: 'Georgia', serif;
$fb-body-font-stack: 'Georgia', serif;

/* Font sizes */
$font-xxl: 4.5rem; // 72px;
$font-xl: 3.75rem; // 60px;
$font-lg: 2.25rem; // 36px;
$font-md: 1.5rem;  // 24px;
$font-sm: 1rem;
$font-xs: 0.875rem;