/**
 *
 * Widths and spacing variables
 *
 */

$wrapper-width-lg: 102.5rem; // 1640px

$border-radius: 5px;

$space: 2rem;

// maximum width for paragraph text
$p-max: 50rem;

// 1350 - 1400px is my laptop when browser is wide but not max

$small: 800px;
$medium: 1060px;
$large: 1200px;
$xlarge: 1400px;
$max-width: 100em; //1600px;
