/**
 * Mixins
 */

/**
 * Light gray sans serif font
 */
@mixin fontLightSans {
  font-family: var(--sans);
  font-weight: 300;
  color: #666;
}

@mixin fontLargeBody {
  color: #666;
  font-family: var(--bodyFont);
  font-size: 22px;
  line-height: 1.5;
}