/**
 *
 * Variables
 *
 */

:root {
  --fontColor: #333;
  --contentWidth: 50rem;
  --borderRadius: 5px;
  --displayFont: 'Libre Franklin';
  --bodyFont:'PT Serif', Georgia, serif;
  --bluegreen: #00c1a9;
  --gold: #e4ae00;
}

$xlarge: 1300px;
$large: 1060px;
$medium: 800px;
$fs-body-large: 22px;