@charset "UTF-8";
/**
 *
 * Color variables
 *
 */
/**
 *
 * Widths and spacing variables
 *
 */
/**
 *
 * Font variables
 *
 */
/* Fallback font stacks */
/* Font sizes */
/**
 *
 * Breakpoints
 *
 *
 */
/**
 * Mixins
 */
/**
 *
 * Base Custom
 *
 * Custom styles for base HTML elements.
 * Further reading: http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 *
 *   .usage {
 *     @include clearfix();
 *   }
 *
 */
/**
 *
 * System @font-face rules
 *
 * Define system font-face rules using OS system fonts
 * Thanks to: https://github.com/jonathantneal/system-font-css/blob/gh-pages/system-font.css
 *
 */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold"); }

/* Now, let's apply it on an element */
body {
  font-family: "system"; }

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**
 *
 * Base Custom
 *
 * Custom styles for base HTML elements.
 *
 */
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica", sans-serif;
  margin: 0; }

/**
 *
 * Links
 *
 * Custom styles for base HTML elements.
 *
 */
a {
  color: #0091c1;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s; }

p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 1.35; }

/**
 *
 * Images
 *
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * If a `width` and/or `height` attribute have been explicitly defined, let’s
 * not make the image fluid.
 */
img[width],
img[height] {
  max-width: none; }

/**
 *
 * Page Styles
 *
 */
/**
 * HTML
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */
html {
  overflow-y: scroll;
  /* [1] */
  min-height: 100%;
  /* [2] */ }

body {
  background-color: #fff;
  background-image: linear-gradient(#f9f7d4 0, white 140px);
  color: #555;
  font-family: "Georgia", serif; }

/**
 *
 * Element: Figure/Figcaption
 * -----------------------------------------------
 *
 *
 */
figure > img {
  margin-bottom: 2rem; }

figcaption {
  color: #888;
  font-size: .875rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5; }

/**
 *
 * Wrappers
 *
 * Page level wrapping elements
 *
 */
.o-wrapper {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }
  .o-wrapper:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

/**
 *
 * Object: Horizontal List
 * -----------------------------------------------
 *
 *
 */
.o-horizontal-list {
  list-style: none;
  padding: 0; }

.o-horizontal-list > li {
  display: inline-block;
  margin-right: 2rem; }

/**
 * Components
 */
/**
 *
 * Component: Panels
 * -----------------------------------------------
 * Sections on the homepage for displaying content such as "About", "Skills"
 * or "Intro"
 *
 */
.panel {
  min-height: 100vh; }

/**
 *
 * Component: Headings
 * -----------------------------------------------
 *
 *
 *
 */
.site-heading {
  color: #555;
  font-size: 4.5rem;
  font-weight: 400; }

.site-subheading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #888;
  font-size: 2.25rem;
  font-style: italic;
  margin-bottom: 2rem; }

.chapter__heading {
  color: #c50404;
  font-size: 3.75rem;
  font-weight: 400; }

.sub-section-heading {
  color: #333;
  font-size: 3.75rem;
  font-weight: 400;
  margin-bottom: 1rem; }

.sub-section-heading--about {
  color: #ccc; }

/**
 *
 * Component: Primary Navigation
 * -----------------------------------------------
 * Navigation for site and page
 *
 *
 */
.navbar__menu {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  padding: 0;
  text-shadow: -1px 1px 0px white; }

.navbar__menu-item {
  border-radius: 5px;
  -webkit-transition: all .25s;
  transition: all .25s; }

.navbar__menu-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15); }

.navbar__menu-link {
  color: #928e58;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none; }

@supports (display: grid) {
  .navgrid {
    grid-column-gap: 2rem;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "empty empty empty empty empty nav nav nav nav nav nav nav"; }
  .navbar {
    grid-area: nav; } }

/**
 *
 * Page-layout
 *
 */
.main {
  height: 100%; }

@supports (display: grid) {
  @media screen and (min-width: 800px) {
    .pagegrid {
      display: grid;
      grid-template-columns: [fullbleed-start] minmax(2em, 1fr) [main-start] minmax(40em, 85em) [main-end] minmax(2em, 1fr) [fullbleed-end];
      grid-row-gap: 0; }
    .pagegrid > * {
      grid-column: main; }
    .pagegrid--main__full {
      grid-column: fullbleed; } }
  @media screen and (min-width: 1060px) {
    .pagegrid {
      grid-template-columns: [fullbleed-start] minmax(1em, 1fr) [main-start] minmax(40em, 102.5rem) [main-end] minmax(1em, 1fr) [fullbleed-end]; } } }

/**
 *
 * Component: Chapter
 * -----------------------------------------------------------
 * Sections of the home page such as About or Case Studies
 *
 *
 */
@supports (display: grid) {
  .chapter {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: [aa] minmax(1em, 1fr) [bb] 3fr [cc] 7fr [dd] minmax(1em, 1fr) [ee];
    grid-template-rows: auto 1px auto; }
  .chapter:after {
    content: '';
    background-color: #ccc;
    grid-row: 2;
    grid-column: aa / dd; }
  .chapter__heading {
    grid-column: cc;
    grid-row: 1; }
  .chapter__contents,
  .chapter__intro {
    grid-column: cc;
    grid-row: 3; }
  @media screen and (min-width: 100em) {
    .chapter {
      grid-template-columns: [aa] 1fr [bb] 4fr [cc] 6fr [dd] 1fr [ee]; } } }

/**
 *
 * Component: Definition
 * -----------------------------------------------
 * A text widget for displaying a title and description text.
 *
 *
 */
@supports (display: grid) {
  .definition {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0.875rem 0; }
  .definition__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase; }
  .definition__desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0.75rem 0;
    line-height: 1.6; } }

/**
 *
 * Component: Case Study
 * -----------------------------------------------
 * Home page case study sub-sections
 *
 *
 */
@supports (display: grid) {
  .case-study {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 25vh;
    margin-top: 30rem;
    display: grid;
    grid-template-columns: [a] 1fr [b] 2fr [c];
    grid-template-rows: auto;
    grid-column-gap: 4rem;
    padding: 0 2rem; }
  .case-study__copy {
    grid-column: b;
    grid-row: a;
    position: relative; }
  .case-study__image {
    grid-column: a;
    grid-row: b;
    margin: 0; }
  .case-study__number {
    display: block;
    position: absolute;
    top: -15rem;
    font-size: 15rem;
    color: #eee; }
  .case-study:nth-of-type(even) {
    grid-template-columns: [x] 2fr [y] 1fr [z]; }
    .case-study:nth-of-type(even) .case-study__copy {
      grid-column: a; }
    .case-study:nth-of-type(even) .case-study__image {
      grid-column: b; }
  .case-study--ce .case-study__number {
    margin-left: -1rem; }
  @media screen and (min-width: 100em) {
    .case-study {
      grid-template-columns: [a] 4fr [m] 1fr [b] 6fr [n] 1fr [o];
      grid-column-gap: 2rem; }
    .case-study--ce .case-study__image {
      margin-right: -4rem; } } }

@supports ((-webkit-text-stroke-color: #666) and (-webkit-text-fill-color: white)) or ((-moz-text-stroke-color: #666) and (-moz-text-fill-color: white)) {
  .case-study__number {
    color: transparent;
    opacity: 0.5;
    -moz-text-fill-color: white;
    -webkit-text-fill-color: white;
    -moz-text-stroke-color: #c50404;
    -webkit-text-stroke-color: #c50404;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px; } }

/**
 *
 * Component: Checkmark List
 * -----------------------------------------------
 * A stylized list with a title and a list
 *
 *
 */
.checkmark-list {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 2rem; }

.checkmark-list__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #333; }

.checkmark-list__list {
  list-style: none;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  margin: 0.75rem 0;
  line-height: 1.6; }

.checkmark-list__item {
  position: relative;
  margin: 1rem 0 1rem 2rem; }

.checkmark-list__item:before {
  content: url("../images/checkmark.svg");
  width: 20px;
  height: 24px;
  left: -2rem;
  top: 2px;
  overflow: hidden;
  position: absolute; }

/**
 *
 * Component: Buttons
 * -----------------------------------------------
 *
 *
 */
.btn {
  border: 1px solid #0091c1;
  -webkit-box-shadow: 0 2px 0px #006384;
          box-shadow: 0 2px 0px #006384;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 16px;
  background-color: #03a0d3;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out; }

.btn:hover {
  background-color: #00364c;
  border-color: #00364c; }

/**
 *
 * Component: Skills Panel
 * -----------------------------------------------
 *
 * The panel for the skills section
 *
 */
.skills-panel {
  background-color: #fff; }

/**
 *
 * Component: Intro Panel
 * -----------------------------------------------
 *
 * The panel for the intro section
 *
 */
.intro-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/**
 *
 * Component: About Section
 * -----------------------------------------------
 *
 * The panel for the about section
 *
 */
.about-section {
  background-color: black;
  min-height: auto;
  padding: 2rem 0; }

.about-section {
  padding: 0 calc( (100% - 1640px) / 2);
  padding-top: 3rem; }

.about-section__menu-link {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem; }

@supports (display: grid) {
  .about-section {
    grid-column: fullbleed; }
  .about-section__grid {
    display: grid;
    grid-template-columns: 4fr 1fr 6fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-section__image {
    grid-column: 1;
    margin-right: -5rem;
    margin-left: -4rem; }
  .about-section__contents {
    grid-column: 3; } }

/**
 *
 * Component: Work Images
 * -----------------------------------------------
 *
 *
 *
 */
.work-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 4rem 0; }

.work-image__image {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  position: relative; }

.work-image__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05); }

.work-image__image:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 1px -2px 24px rgba(0, 0, 0, 0.4);
          box-shadow: 1px -2px 24px rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.work-image__image:hover:after {
  opacity: 1; }

/**
 * Homepage sections
 */
/**
 *
 * Component: Homepage Intro Section
 * -----------------------------------------------
 *
 *
 */
.intro {
  margin: auto; }

.intro__body {
  font-size: 1.125rem;
  z-index: 99; }

.introgrid {
  margin: auto 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center; }

@supports (display: grid) {
  @media screen and (min-width: 1060px) and (max-width: 1299px) {
    .introgrid {
      margin: auto;
      max-width: 1065px;
      -ms-flex-line-pack: center;
          align-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .primary-logo {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 30%;
              flex: 1 1 30%;
      margin-right: 2rem; }
    .intro__content {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 70%;
              flex: 1 1 70%; } }
  @media screen and (min-width: 1300px) {
    .introgrid {
      margin: 0;
      -ms-flex-line-pack: center;
          align-content: center;
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: [aa] 1em [bb] 2fr [cc] 4fr [dd] minmax(1em, 1fr) [ee];
      grid-template-rows: auto; }
    .primary-logo {
      grid-column: bb;
      grid-row: 1; }
    .intro__content {
      grid-area: cc;
      grid-row: 1; }
    .intro__body {
      max-width: 48.25rem; } }
  @media screen and (min-width: 100em) {
    .introgrid {
      grid-template-columns: [aa] 2fr [bb] 3fr [cc] 6fr [dd] 1fr [ee]; } } }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.text-over-dark {
  color: #999;
  -webkit-font-smoothing: unset;
  -mac-osx-font-smoothing: unset; }

.newline {
  display: table; }

.mt-0 {
  margin-top: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.u-fixed {
  position: fixed; }

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/**
 *
 * Typekit rules
 *
 * Use these web fonts if Typekit fonts have loaded.
 *
 */
.wf-adobecaslonpro-n4-active .tk-serif,
.wf-adobecaslonpro-n4-active p {
  font-family: "adobe-caslon-pro", serif; }

/**
 * Styles for testing and development
 *
 */

@media screen and (min-height: 600px) {
  .intro-panel {
    min-height: calc(90vh); } }

@media screen and (min-width: 800px) {
  .introgrid {
    margin: auto; } }

@media screen and (max-width: 1059px) {
  .primary-logo {
    width: 36em;
    position: absolute;
    left: -150px;
    top: -205px; }
  .intro__content {
    max-width: 48.25rem; } }

/*# sourceMappingURL=main.css.map */
