/**
 * Mixins and variables come first
 */
/**
 *
 * Variables
 *
 */
:root {
  --bg-color: #fff;
  --contentWidth: 800px;
  --borderRadius: 5px; }

/**
 * General styles for things like basic html elements and page layout
 */
/**
 *
 * Foundations
 *
 * Base styles for html, body, as well as foundational elements
 * such as <a>, <p>, <ul>, <ol>, etc.
 */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: var(--bg-color);
  margin: 0;
  font-size: 100%;
  color: #222;
  font-family: 'Libre Franklin', 'Georgia', sans-serif;
  line-height: 1.6; }

/**
 *
 * Page-layout
 *
 */
body, html {
  height: 100%; }

.page-content {
  height: 100%; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.panel {
  min-height: 100vh; }

.panel--intro {
  background-color: #b1e0a2;
  background-image: linear-gradient(145deg, #b1e0a2 30%, #569641);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.panel--skills {
  background-color: #b1d4b1;
  background-image: linear-gradient(145deg, #b1e0a2 30%, #569641);
  min-height: unset; }

.panel--work {
  background-color: #e7f3e7;
  background-image: linear-gradient(145deg, #b1e0a2 30%, #569641); }

.panel--work:nth-of-type(even) {
  background-color: #7b9ec5;
  background-image: linear-gradient(145deg, #b1e0a2 30%, #569641); }

.panel__card {
  margin: auto;
  padding: 1rem; }

.skills__item {
  padding: 1rem;
  border-radius: 5px;
  background-color: #f6f6f6;
  border: 1px solid #ddd; }

@supports (display: grid) {
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem; } }

@supports not (display: grid) {
  .skills {
    display: block;
    overflow: hidden; }
  .skills__item {
    display: block;
    float: left;
    margin-right: 1rem; }
  .skills__item:last-of-type {
    margin-right: 0; } }

/**
 * Works
 * Component for displaying portfolio work examples
 */
.works__item {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  border-radius: var(--borderRadius);
  margin: 5rem auto;
  max-width: var(--contentWidth);
  padding: 1rem; }

.works__image {
  display: inline;
  max-width: 300px; }

/**
 * Navigation
 */
.navbar {
  background-color: #333;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999; }

.navbar__menu {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center; }

.navbar__menu-link {
  color: #fff;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none; }

/**
 *
 * Images
 *
 */
img {
  display: block;
  max-width: 100%; }

.profile-img {
  width: 100%; }

/**
 *
 * Headings
 *
 */
h1, h2, h3, h4 {
  margin: 0; }

.intro {
  max-width: 800px;
  margin: auto; }

.intro__heading {
  line-height: 1.2;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 1rem; }

.intro__body {
  font-size: 1.25rem; }

.intro__button {
  display: inline-block;
  padding: .75em 1.25em;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer; }

/**
 * Styles for testing and development
 *
 */

@media screen and (min-height: 600px) {
  .panel--intro {
    min-height: calc(100vh - 72px); } }

@media screen and (min-width: 800px) {
  .profile-img {
    width: 25%; }
  .work-example__image {
    width: 200px; } }

/*# sourceMappingURL=main.css.map */
