[data-aos^=fade][data-aos^=fade],
[data-aos^=zoom][data-aos^=zoom] {
  opacity: 1;
}

[data-aos=fade-left],
[data-aos=fade-right],
[data-aos=fade-up],
[data-aos=fade-down],
[data-aos=zoom-in-up] {
  -webkit-transform: unset;
  transform: unset;
}