/**
 *
 * Trumps: Helpers
 * -----------------------------------------------
 *
 *
 */

 .text-over-dark {
  color: $light-gray-3;
  -webkit-font-smoothing: unset;
  -mac-osx-font-smoothing: unset;
}

.newline {
  display: table;
}

.display-none {
  display: none;
}