/**
 *
 * Trumps: Helpers
 * -----------------------------------------------
 *
 *
 */

 .text-over-dark {
  color: $light-gray-3;
  -webkit-font-smoothing: unset;
  -mac-osx-font-smoothing: unset;
}

.newline {
  display: table;
}

.display-none {
  display: none;
}

.quiet {
  color: #888;
  font-style: italic;
}

@media screen and (max-width: $medium) {
  .hide-small {
    display: none;
  }
}