/**
 *
 * Typekit rules
 *
 * Use these web fonts if Typekit fonts have loaded.
 *
 */

.wf-adobecaslonpro-n4-active {

  p {
    font-family: "adobe-caslon-pro", serif;
    font-size: $font-md; // 24px
    line-height: 1.35;
  }

  .tk-serif {
    font-family: "adobe-caslon-pro", serif;
  }

}