/**
 *
 * Typekit rules
 *
 * Use these web fonts if Typekit fonts have loaded.
 *
 */

.wf-adobecaslonpro-n4-active {

  p {
    font-family: "adobe-caslon-pro", serif;
    font-size: $font-md; // 24px
    line-height: 1.35;
  }

  .hp-skills__desc {
    font-size: 1.5rem;
    line-height: 1.35;
  }

  .hp-project__number {
    line-height: unset;
  }

  .hp-skills__title {
    color: $dark-gray-3;
    font-family: $serif, serif;
    font-size: $font-md;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6;
  }

  .tk-serif,
  .tk-serif li,
  .tk-serif a {
    font-family: "adobe-caslon-pro", serif;
  }

}

@media screen and (min-width: $medium){
  .wf-adobecaslonpro-n4-active .hp-skills__title {
    font-size: $font-md;
  }
}

/**
 * Google Fonts
 *
 */
.wf-opensans-n7-active {
  .ge-sans--bold,
  .ge-sans--bold a,
  .ge-sans--bold li {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
}

.wf-opensans-n4-active {
  .ge-sans,
  .ge-sans a,
  .ge-sans li {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
}