/**
 *
 * Element: Figure/Figcaption
 * -----------------------------------------------
 *
 *
 */

figure {
  width: fit-content;
  margin: 0 auto $space auto;
}

figure img {
  margin-bottom: 1em;
}

figcaption {
  @include caption();
}