/**
 *
 * Element: Lists
 * -----------------------------------------------
 *
 *
 */

@media screen and (max-width: $small){
  ul, ol {
    padding-left: 0;
  }
}

ul, ol {
  @include body-copy;
  margin-bottom: 2rem;
}

li {
  margin: 1em;
}